@import "../styles/mixin";

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .icon {
    width: 36px;
    height: 36px;
    color: $main-color;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    text-shadow: 0 1px 3px rgb(0 0 0 / 0.25);
    gap: 16px;
    @include screen-mobile {
      margin-top: 8px;
      font-size: 1em;
    }
    @include screen-sm {
      font-size: 1.3em;
    }
    @include screen-md {
      font-size: 1.5em;
    }
    &::before,
    &::after {
      content: "";
      background-color: $main-color;
      height: 2px;
      @include screen-mobile {
        width: 0px;
      }
      @include screen-sm {
        width: 40px;
      }
      @include screen-md {
        width: 120px;
      }
    }
  }
}
